<h1 class="car">Gas Mix calculator</h1>
<%= form_for @car, :url => { :action => "result", :controller => "results" } do |c| %>
<%= hidden_field_tag :id, @car.id %>
  <div class="header">
    <%= c.label :name %>
    <%= c.text_field :name %>
  </div>
  <div class="field">
    <%= c.label :tank_size %>
    <%= c.text_field :tank_size, :size => 5 %>
  </div>
  <div class="field">
    <%= c.label :existing_amount %>
    <%= c.text_field :existing_amount, :size => 5 %>
  </div>
  <div class="field">
    <%= c.label :existing_octane %>
    <%= c.text_field :existing_octane, :size => 5, :value => @car.last_target_octane %>
  </div>
  <div class="field">
    <%= c.label :base_octane %>
    <%= c.text_field :base_octane, :size => 5, :value => @car.last_base_octane %>
  </div>
  <div class="field">
    <%= c.label :boost_octane %>
    <%= c.text_field :boost_octane, :size => 5, :value => @car.last_boost_octane %>
  </div>
  <div class="field">
    <%= c.label :target_octane %>
    <%= c.text_field :target_octane, :size => 5, :value => @car.last_target_octane %>
  </div>
  <div class="actions">
    <%= c.submit "Calculate"%>
  </div>
<% end %>
